<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${student}" th:action="@{newStudent}" method="post">
    <p>First Name:&nbsp;<input th:field="*{firstName}"></p>
    <p>Last Name:&nbsp;<input th:field="*{lastName}"></p>
    <p>Date Of Birth:&nbsp;<input type="date" th:field="*{dateOfBirth}"></p>
    <p>Address:&nbsp;<input th:field="*{address}"></p>
    <p>Sex:&nbsp;<select th:field="*{sex}">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select></p>
    <p>Phone Number:&nbsp;<input th:field="*{phone}"></p>
    <p><select th:field="*{classRoom}">
        <option th:each="class: ${classrooms}" th:value="${class.getId()}" th:text="${class.getName()}"></option>
    </select></p>
    <p><button type="submit" onclick="return confirm('Are You Sure?')">Add New Student</button></p>
</form>
<p><a th:href="@{/student/studentList}"><button type="button"> Back</button></a></p>
</body>
</html>